@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

/* header */
header{
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(19, 19, 19, 0.897);
    backdrop-filter: blur( 4px );
    box-shadow: 30px 0 10px black;
}

header .nav-container{
    width: 80%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    width: auto;
    height: auto;
}

header .logo img{
    width: 100px;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li{
    display: inline;
    margin: 0 5px;
    padding: 10px 0;
}

header nav ul li a{
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.3s ease-in;
    color: white;
    font-weight: bold;
}

header nav ul li a:hover{
    background-color: rgba(32, 32, 32, 0.863);
}

header button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}
header .hidden{
    display: none;
}

/* header */

.fas{
    padding-top: 10px;
    font-size: 20px;
  }

footer{
    margin-top: 80px;
    background-color: rgb(31, 31, 31);
    color: white;
}
.footer-menu{
    padding: 50px 100px;
    display: flex;
    justify-content: space-around;
}
.bottom-details{
    background-color: rgb(20, 20, 20);
    padding: 20px;
    text-align: center;
}
.follow-us i{
    margin: 20px 20px 0 0;
    font-size: 30px;
    color: white;
}
.contact-us p{
    margin: 10px 0;
    line-height: 20px;
    font-size: 30px;
}
.community{
    line-height: 30px;
}
.community h2{
    margin-bottom: 10px;
}