@media only screen and (max-width: 550px) {
  .con-jum{
    width: 100%;
    background-size: cover;
  }
  .website-intro{
    font-size: 100px;
    margin-top: 150px;
  }
  .form-search {
    width: 100%;
  }
  .button-search {
    padding: 0 15px;
  }
  .carousel-title {
    transform: translate(-50%, -100%); 
  }
  .carousel-title h1 {
    font-size: 55px;
  }
  .carousel-title h2 {
    transform: translate(0, 100px);
    font-size: 20px;
  }
  .what-is-ubud {
    text-align: center;
    position: relative;
  }
  .ubud-img{
    position: relative;
    left: 15px;
    border-radius: 20px;
  }
  .ubud-location {
    text-align: center;
  }
}